
.product__home{
    background-color: whitesmoke;
    
    width: 250px;
    height: 300px;
    box-shadow: 0 0 10px black;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    padding: 3px;
    overflow: hidden;
    
}

.product__img{
   width: 200px;
   height: 250px; 
   transition: all 0.5s; 
}
.product__img:hover{
transform: scale(1.1,1.1);
}
.product__title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    color: steelblue;
    
}

.product__tag{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: initial;
}