.brands__home{

}
.brands__home{
    display: flex;
    
}
.topBrand_Container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

@media(max-width:500px){
    .brands__home{
        align-items: center;
    }
    .brands__homeHeader{
        font-size: 10px;
    }
    .brands__home{
        display: flex;
        flex-direction: column;
        
    }
}